.barra-superior{align: "center"}
  %h1 Jueguemos al ¡Tic Tac Toe!
  %a{:href=>"/usuarios"}
    Ver estadísticas
.gameboard
  - HORIZONTALS.each do |row| 
    .gamerow
      - row.each do |p|
        %a{:href=>"/"}
          %div{:id => "#{p}", :class => "cell #{b[p]}"}
  .message
    %h1= m
