.message
  %h1{align: "center"} Indique nombre de Usuario
.gameboard
  .gamerow
    %form{action: "html_form_action.asp", method: "get", name: "input"}
      Username:
      %input{name: "user", type: "text"}/
      %input{type: "submit", value: "Jugar"}/